

.container{
    border: 1px solid rebeccapurple;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}
.challenge-title{
    display: flex;
    justify-content: center;
}

.flex-box-container, .flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid green;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.flex-blackjack-row-1, .flex-blackjack-row-2 {
    background: url('https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1563290515000/photosp/a84f8672-7c32-4d29-8f77-de368f47b1cd/stock-photo-field-grass-garden-green-golf-game-ground-grunge-background-a84f8672-7c32-4d29-8f77-de368f47b1cd.jpg') center;
    color: #ffffff;
  }

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}
  
.flex-blackjack-row-2 button {
    border: 1px solid black;
    padding: 10px;
}
  
.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}
  
table, th, td {
    padding: 5px;
    border: 1px solid black;
}

.flex-box-container div {
    display: flex;
    padding: 10px;
}

.flex-box-container-2 img{
    display: flex;
    padding: 10px;
    box-shadow: 0px 10px 50px rgba(0,0,0, 0.7);

}

#flex-box-rps-img img:hover{
    box-shadow: 0px 10px 50px rgba(32, 29, 192, 0.7);
}

